<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis materias</ion-title>

    <ion-buttons slot="end">
      <ion-toggle [(ngModel)]="mySubjectsOnly" (ionChange)="changeSubjects()"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let subject of subjects" routerLink='/subjects/{{subject.id}}' button detail>{{subject.name}}</ion-item>
  </ion-list>
</ion-content>
