<div fxLayout="row" fxLayoutAlign="center center" class="p-3">
  <ion-button *ngIf="!(user$ | async)" (click)="signin()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Ingresar con Google
  </ion-button>

  <div *ngIf="(user$ | async) as user" fxLayout="column" fxLayoutAlign="2rem">
    <ion-list>
      <ion-list-header> <img [src]="user.picture" /> {{ user.name }} </ion-list-header>
      <ion-item>
        <span>{{ user.email }}</span>
      </ion-item>
    </ion-list>

    <ion-button *ngIf="user" (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </div>
</div>
