<div *ngIf="subject"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="2rem">

  <h2>Detalle de la materia</h2>
  <span>Nombre: {{subject?.name}}</span>
  <span>Decripción: {{subject?.description}}</span>
  <h2>Profesor</h2>
  <img [src]="subject?.user?.picture" class="rounded h-24 w-24">
  <span>Nombre{{subject?.user?.name}}</span>
  <span>Email{{subject?.user?.email}}</span>

  <ion-button (click)="closePopover()"
              fill="clear" color="light">
    <ion-icon name="close"></ion-icon>
  </ion-button>
<!--  <ion-list *ngIf="subject">-->
<!--    <ion-list-header>Detalle de la materia</ion-list-header>-->
<!--    <ion-item>{{subject?.name}}</ion-item>-->
<!--    <ion-list-header>Descripción</ion-list-header>-->
<!--    <ion-item>{{subject?.description}}</ion-item>-->
<!--    <ion-list-header>Profesor</ion-list-header>-->
<!--    <ion-item>{{subject?.user?.name}}</ion-item>-->
<!--    <ion-item>-->
<!--      <img [src]="subject?.picture">-->
<!--    </ion-item>-->
<!--    <ion-list-header>Email</ion-list-header>-->
<!--    <ion-item>{{subject?.email}}</ion-item>-->
<!--  </ion-list>-->
</div>