<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/available-subjects"></ion-back-button>
    </ion-buttons>

    <ion-title>{{subject?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="subject">
    <ion-row justify-content-center>
      <ion-button *ngIf="! subject?.inMySubjects" (click)="joinSubject(subject.id)" color="primary" fill="solid">Subscribirse a la materia</ion-button>
      <ion-chip *ngIf="subject?.inMySubjects" color="success">
        <ion-label>Subscripto</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row justify-content-center>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{subject.name}}</ion-card-title>
          <ion-card-subtitle>{{subject.proffesor.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{subject.description}}
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row justify-content-center>
      <ion-button *ngIf="subject?.inMySubjects" (click)="exitFromSubject(subject.id)" color="danger" size="small" fill="outline" shape="round">Desubscribirse</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
